# Flutter tarafından otomatik oluşturulan platform dosyalarını
# dil istatistiğine dahil etme

android/** linguist-generated=true
ios/** linguist-generated=true
linux/** linguist-generated=true
macos/** linguist-generated=true
windows/** linguist-generated=true
web/** linguist-generated=true

# Ana proje dili
*.dart linguist-detectable=true